# Hello World

In [6]:
"Hello World"

'Hello World'

In [5]:
print("Hello World")

Hello World

In [7]:
1+1

2

In [8]:
print(1+1)

2

In [9]:
a = "你"
b = "好"
c = "阿"
print(a, b, c)

你 好 阿

In [11]:
print(a, b, c, sep="")
print(a, b, c, sep=",")
print(a, b, c, sep="\n")

你好阿
你,好,阿
你
好
阿

In [4]:
# 罰寫姓名100遍
"張三 "*100

'張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 '

In [12]:
print("張三 "*100)

張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三 張三

# 內建函數  
* print()、int()、float()、bool()、str()、type()、id()...

In [13]:
# 取絕對值
abs(-1)

1

In [18]:
# 取最小值
min(1, 2, 3)

1

In [19]:
max(1, 2, 3)

3

In [20]:
pow(2, 6)

64

In [21]:
round(3.1415926)

3

In [22]:
round(3.1415926, 1)

3.1

In [23]:
round(3.1415926, 2)

3.14

In [24]:
round(3.1415926, 3)

3.142

### python的round是四捨六入五成雙

In [29]:
# 進位後是偶數則進位
round(1.5)

2

In [30]:
# 進位後是奇數"不"進位
round(2.5)

2

# One line If Condition  
* [One line If Condition in python](https://tragain.com/blog/developers/one-line-if-condition-python/)  
* [source](https://docs.python.org/3/faq/programming.html?highlight=ternary#is-there-an-equivalent-of-c-s-ternary-operator)  
```
[on_true] if [expression] else [on_false]  
```

In [1]:
x, y = 50, 25
small = x if x < y else y

In [2]:
small

25