In [9]:
val_1 = 12.1
val_2 = 21.22
val_3 = 3123.33
val_4 = 4123.64
val_5 = 5767.85
sum = val_1 + val_2 + val_3 + val_4 + val_5

In [10]:
sum

13048.140000000001

In [14]:
v_list = [12.1, 21.22, 3123.33, 4123.64, 5767.85]
tot = sum(v_list, 0)
print(tot)

TypeError: 'float' object is not callable

In [16]:
sum([0,1,2])

TypeError: 'float' object is not callable