In [2]:
import pandas as pd

# 建立一個empty dataframe  
> 一般使用於事先建立一個空的dataframe，準備存後續要產生的資料。

In [6]:
# create empty dataframe
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [7]:
# 建立已定義好欄位名稱的empty dataframe
df = pd.DataFrame(columns=["Col_1", "Col_2", "Col_3"])
df

Empty DataFrame
Columns: [Col_1, Col_2, Col_3]
Index: []

# 由各種資料來源建立DataFrame  
* [Python Pandas - DataFrame](https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm)  
## Create a DataFrame from Lists

In [10]:
import pandas as pd

data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
import pandas as pd

data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [12]:
import pandas as pd

data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

# 讀取CSV String  
  
讀取非檔案來源的String變數CSV  
需透過StringIO作處理  
[參考](https://stackoverflow.com/questions/58288236/pandas-read-csv-stored-as-string-in-memory-to-data-frame)

In [2]:
from io import StringIO

In [3]:
content = """
AAAA
BBBB
CCCC
DDDD
"""

df = pd.read_csv(StringIO(content), header=None)
df

      0
0  AAAA
1  BBBB
2  CCCC
3  DDDD